nimcache/
node_modules/

package-lock.json

.watchcode.log

/data/

*.pyc
/.idea/

dist/main.js
dist/main.js.map
dist/main_standalone.js
dist/main_standalone.js.map
dist/styles.css

test.html
Bundesliga.csv